<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='old_league_logo.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static/css', filename='style.css') }}">
    <title>{% block title %}CHOOSESUPPORT{% endblock %}</title>
</head>
<body>
    <header id="topo">
        <span>CHOOSE SUPPORT</span>
        <nav>
            <ul>
                <li><a href="#info"></a></li>
                <li><a href="#choose"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer id="info">
        <span>CHOOSE SUPPORT</span>
        <nav>
            <ul>
                <li>
                    <a href="https://github.com/dreadanchor/choosesupport" target="_blank">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" alt="Repositório no Github" class="github_icon">
                    </a>
                </li>
                <li><a href="#topo">Voltar ao topo</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>